.search-container {
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: 96%;
  margin: auto;
}
.search-section {
  display: flex;
  align-items: center;
}
.input-section {
  max-height: 10vh;
}

.tabel-row-pointer {
  cursor: pointer;
}
